<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="page-header">
        <h1>{{title}}</h1>
      </div>
      <div class="clearfix bar-chart-wrapper">
        <div class="column pull-left" ng-repeat="day in last7Days">
          <div class="date">
            <strong>{{day.monthAndDay}}</strong>
            <br>
            <span>{{day.dayString}}</span>
          </div>
          <div class="bar" d3-bar-chart data="day.data" on-click="d3OnClick()"></div>
        </div>
      </div>
    </div>
  </div>
</div>