<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="page-header">
        <a class="btn btn-primary pull-right" href="#/">Dashboard</a>
        <h1>Last 7 Days Chart </h1>
      </div>
      <div class="bar-chart-view">
        <div class="clearfix bar-chart-wrapper">
          <div class="column pull-left">
            <div id="bar-1" class="bar"></div>
          </div>

          <div class="column pull-left">
            <div id="bar-2" class="bar"></div>
          </div>

          <div class="column pull-left">
            <div id="bar-3" class="bar"></div>
          </div>

          <div class="column pull-left">
            <div id="bar-4" class="bar"></div>
          </div>

          <div class="column pull-left">
            <div id="bar-5" class="bar"></div>
          </div>

          <div class="column pull-left">
            <div id="bar-6" class="bar"></div>
          </div>

          <div class="column pull-left">
            <div id="bar-7" class="bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="public/scripts/barGraph.js"></script>