<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="page-header">
        <h1>Dashboard</h1>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#/barChart7">Bar Chart (7 days)</a></li>
        <li><a href="#/areaChart">Area Chart</a></li>
        <li><a href="#/lineChart">Line Chart</a></li>
        <li><a href="#/circleGraph">Circle Graph</a></li>
        <li><a href="#/sidewaysBar">Sideways Bar</a></li>
      </ul>
    </div>
  </div>
</div>