<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="page-header">
        <h1>{{title}}</h1>
      </div>
      
      <d3-bars data="d3Data" label="name" on-click="d3OnClick(item)"></d3-bars>
      <br>
      <br>
      <span>First Item</span>
      <input type="text" ng-model="d3Data[0].score"></input>
      <br>
      <span>Second Item</span>
      <input type="text" ng-model="d3Data[1].score"></input>
      <br>
      <span>Third Item</span>
      <input type="text" ng-model="d3Data[2].score"></input>
    </div>
  </div>
</div>