<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="page-header">
        <a class="btn btn-primary pull-right" href="#/">Dashboard</a>
        <h1>Sideways Bar</h1>
      </div>
      <div class="clearfix">
        <div class="sideways-wrapper pull-left">
          <span>REVENUE</span>
          <h1>$1,100,909</h1>
          <div id="sideways-bar-1" class="sidewaysbar"></div>
          <span class="glyphicon glyphicon-arrow-down down"></span> <strong>40%</strong> $1,823,8913 <span>AUG LY</span>
        </div>
        <div class="sideways-wrapper pull-left">
          <span>OCCUPANCY</span>
          <h1>54%</h1>
          <div id="sideways-bar-2" class="sidewaysbar"></div>
          <span class="glyphicon glyphicon-arrow-down down"></span> <strong>35%</strong> 83% <span>AUG LY</span>
        </div>
        <div class="sideways-wrapper pull-left">
          <span>RevPAR</span>
          <h1>$70</h1>
          <div id="sideways-bar-3" class="sidewaysbar"></div>
          <span class="glyphicon glyphicon-arrow-down down"></span> <strong>41%</strong> $119 <span>AUG LY</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="public/scripts/sidewaysBar.js"></script>